<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/airplane']"><mat-icon>list</mat-icon></a>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>Airplane Model Name: {{airPlaneModel.model.name}}</h2></mat-card-title>
        <mat-card-subtitle>Airplane ID: {{airPlaneModel.id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>ID:</dt>
          <dd>{{airPlaneModel.id}}</dd>
          <dt>Code:</dt>
          <dd>{{airPlaneModel.code}}</dd>
          <dt>Model:</dt>
          <dd>{{airPlaneModel.model.name}}</dd>
          <dt>N. Passengers:</dt>
          <dd>{{airPlaneModel.numberOfPassengers}}</dd>
          <dt>Creation Date:</dt>
          <dd>{{airPlaneModel.creationDate}}</dd>
         
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="primary" [routerLink]="['/airplane-edit/', airPlaneModel.id]"><mat-icon>edit</mat-icon></a>
        <a mat-flat-button color="warn" (click)="deleteAirplane(airPlaneModel.id)"><mat-icon>delete</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>
  