<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/airplane']"><mat-icon>list</mat-icon></a>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>airplane ID: {{airPlaneModel.id}}</h2></mat-card-title>
        <mat-card-subtitle>model Name: {{airPlaneModel.model.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>id:</dt>
          <dd>{{airPlaneModel.id}}</dd>
          <dt>code:</dt>
          <dd>{{airPlaneModel.code}}</dd>
          <dt>model:</dt>
          <dd>{{airPlaneModel.model.name}}</dd>
          <dt>numberOfPassengers:</dt>
          <dd>{{airPlaneModel.numberOfPassengers}}</dd>
          <dt>creationDate:</dt>
          <dd>{{airPlaneModel.creationDate}}</dd>
         
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="primary" [routerLink]="['/airplane-edit/', airPlaneModel.id]"><mat-icon>edit</mat-icon></a>
        <a mat-flat-button color="warn" (click)="deleteAirplane(airPlaneModel.id)"><mat-icon>delete</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>
  